doctype html
html
  head
    title NodeJS-CMS 404
    include head.pug
  body
    div(class="container")
      h1
        img(src="/resources/favicon.png" height="24px") 
        b HTTP 404 Not Found 
        small(class="text-muted") NodeJS-CMS 

      block maincontent
        div(class="rows maincontent")
          div(class="")

          p No such page
      include footer.pug
