block footer
  footer(class="footer mt-3 text-end")
    small Made with 
      a(href="https://github.com/goldfrapper/nodejs-cms") NodeJS-CMS
    small &nbsp;&copy; 2016-#{(new Date).getFullYear()} Goldfrapper
