doctype html
html
  head
    title NodeJS-CMS
    include head.pug
  body
    include topmenu.pug
    
    block maincontent
      div(class="rows maincontent")
        div(class="")

  include footer.pug
