doctype html
html
  head
    title=page.title
    include head.pug
  body
    div(class="container")
      include topmenu.pug
    
      block maincontent
        div(class="rows maincontent")
          div(class="")

      include footer.pug
