block header
  div(class="header")
    
    h1(class="")
      img(src="/resources/favicon.png" height="24px") 
      b=page.title
      span &nbsp;
      small(class="text-muted padding-left:1em;")=page.subtitle
